/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }
body {
  padding-bottom: 70px;
}

.primary-nav {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
 }
/* New class to shrink navbar on scroll */
.shrink {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  min-height: 55px !important;
}
/* Footer color for sake of consistency with Navbar */
footer {
  background-color: #1C2331; 
}
/* Icon for navbar */
.icon {
  width: 10%;
  height: 10%;
}
/* Quick fix for jumbotron spacing */
.tronfix{
  margin-bottom: 0;
}
/* Parallax lol */
.parallax {
  /* The image used */
  background-image: url("../img/f22_background.jpg");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.parallax-color {
  background-color: #9E885D;
}
